
.bg {
  background-position-y: 100%;
    /* Full height */
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.fixed-top {
  position: sticky;
}
#picture {
  width: 20%;
  height: 20%;
}
.performers {
  position: sticky;
  align-self: center;
  background: rgb(243, 57, 10);
  align-content: center;
}
#favorites {
  text-align: right;
  color: aliceblue;
  background: blueviolet;
 
}

#search {
  align-items: center;
  color: white;
  background: blueviolet;
  text-align: center;
  
}

#button {
  width: 100px;
  height: 20px;
}

.container mt-6 mb-2{
  padding: 4%;
  color: blueviolet;
  align-self: center;
}
 .fixed-bottom {
  position: sticky;
  width: 100%;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
  color: white;
  align-self: center;
  background: blueviolet;
  text-align: center;
}

 